<p-carousel
 *ngIf="user_template == 0"
  [value]="carousel"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="5000"
  [showIndicators]="false"
  class="main-carousel"
>
  <ng-template pTemplate="item" let-item>
    <div class="carousel-item">
      <img [src]="item.photo.src" [alt]="item.photo.title">
      <div class="carousel-caption">{{ item.head }}</div>
    </div>
  </ng-template>
</p-carousel>

<div  *ngIf="user_template > 0"class='bg-green-100 carousel w-10'>
    <p-carousel 
        [value]="carousel"  
        [numVisible]="3"  
        [numScroll]="5"  
        [circular]="false"
        (onPage)="pageChange($event)"> 
        <ng-template let-item pTemplate="item"> 
            <div class="product-item "> 
                <div class="product-item-content"> 
                    <div class="p-mb-3">
                        <img src="{{item.photo.src}}" alt="{{item.photo.alt}}" title="{{item.photo.title}}" class="product-image" />
                    </div> 
                    <div> 
                        <a [routerLink]="['/page']"  [queryParams]='{id: item.id}'>{{ item.head }}</a>                        
                    </div> 
                </div> 
            </div> 
        </ng-template> 
    </p-carousel>
</div>
