
<app-breadcrumb></app-breadcrumb>   
<div class="main-header bg-green-100">
    <h2 class='main-header-title'><img *ngIf="MenuIcon != null"  [src]="MenuIcon" class="menu-icon">{{MenuName}}</h2>    
</div>

<div class="news-grid">
  <article *ngFor="let item of listNews"
           class="news-card"
           role="article"
           >

    <p-card>

      <!-- Заголовок + фото -->
      <ng-template pTemplate="header">
        <h3 id="title-{{item.id}}" class="news-title">{{ item.title }}</h3>
        <img *ngIf="item.photo_src != null"  [src]="item.photo_src" [alt]="item.photo_alt" [title]="item.photo_title" class="news-image" />
      </ng-template>

      <!-- Тело карточки -->
      <div class="news-body">
        <h3 id="title-{{item.id}}" class="news-title" [innerHTML]="item.head"></h3>

        <p class="news-short" [innerHTML]="item.text"></p>

        <div class="news-meta">
          <small>{{ item.date | date:'dd.MM.yyyy' }}</small>

          <button
            pButton
            type="button"
            label="Читати"
            icon="pi pi-eye"
            class="p-button-text"
            (click)="set_page(item.id)">
          </button>
        </div>
      </div>

    </p-card>

  </article>
</div>

<!--<div class="main-header bg-green-100">
    <h2 class='main-header-title'>{{NameMenu}}</h2>    
</div>

<div class="main-news-container  p-3">
    <div class="item_grid item-news-list border-round-2xl surface-0 surface-hover" *ngFor="let item of listNews;" (click) = "set_page(item.id)">
        <div class="p-3 align-items-center text-blue-500 ">{{item.title}}</div>
        <div class="gray-900 text-xs date-news">{{item.date | date: 'dd/MM/yyyy'}}</div>
        <div *ngIf="item.photo != null"  class="item-news-list-img">           
           <img src="{{item.photo}}" class="image_title_news" alt="Image" >
        </div>
        <div class="pb-3 pl-3 pr-3 align-items-center text-blue-500"> <span [innerHTML]="item.head"></span></div>        
    </div>   
</div> -->



<p-paginator (onPageChange)="onPageChange($event)" 
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[12, 24, 36]">
</p-paginator>
