<app-breadcrumb></app-breadcrumb>   
<div class="main-header bg-green-100">
    <h2 class='main-header-title'>{{NameMenu}}</h2>    
</div>

<div class="main-news-container  p-3">
    <p-galleria 
        [value]="images"
        [showIndicators]="true" 
        [showThumbnails]="false" 
        [containerStyle]="{ 'max-width': '640px', 'margin' : '20px auto' }">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.photo_src" style="height: 640px; display: block;" [alt]="item.photo_alt" [title]="item.photo_title" />
            
        </ng-template>
        <ng-template pTemplate="caption" let-item>
            <h4 style="margin-bottom: .5rem; color: #ffffff;">
                {{ item.photo_title }}
            </h4>
            <p>{{ item.photo_alt }}</p>
        </ng-template>
    </p-galleria>
</div>
