p
    color: #666
    text-align: center
    font-size: .7rem
    line-height: 1.1rem
    padding: 0 80px

footer
    position: fixed
    bottom: 0
    left: 0
    right: 0
    background: #FFF
    width: 100%
    min-height: 28rem
    padding: 2rem 8%

/*  margin: 0
    padding: 0
    box-sizing: border-box
    border: 0
    outline: 0
    line-height: 1.5
    text-transform: capitalize
    list-style: none
    text-decoration: none 

.footer-top-container
    padding-top: 5rem
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

.footer-top-container .left-side ul 
    display: flex

.footer-top-container .left-side ul li
    margin: 0rem 2rem

.footer-top-container .left-side ul li a
    font-size: 1.7rem
    color: #000

.footer-top-container .right-side
    display: flex
    align-items: center
    gap:5rem

.footer-top-container .right-side .btn
    display: inline-block
    width: 20rem
    height: 6rem
    background: #2346f8
    border-radius: 1rem
    font-size: 2rem
    color: #FFF
    box-shadow: 0rem .5rem 1rem rgba(0,0,0,.8)
    cursor: pointer

.footer-top-container .right-side ul li a
    font-size: 1.7rem
    color: #000

footer .line 
    margin-top: 3.5rem
    width: 100%
    height: 0.1rem
    background: rgba(0,0,0,.1)

footer .footer-bottom-container 
    padding: 3.5rem
    display: flex
    justify-content: space-between
    align-items: center 

footer .footer-bottom-container .copyright 
    display: flex
    align-items: center
    gap: .5rem

footer .footer-bottom-container .copyright p
    font-size: 1.5rem 

footer .footer-bottom-container .social-media-icons img
    margin: 0rem .5rem
    cursor: pointer

footer .footer-bottom-container .social-media-icons
    display: flex
    align-items: center

