<footer class="footer">
  <div class="footer-container">

    <!-- 1 колонка -->
    <div class="footer-col">
      <h3>Документи</h3>
      <ul>
        <li><a href="#">Рішення</a></li>
        <li><a href="#">Проекти</a></li>
        <li><a href="#">Виконком</a></li>
        <li><a href="#">Розпорядження</a></li>
      </ul>
    </div>

    <!-- 2 колонка -->
    <div class="footer-col">
      <div class="contact-info">
        <h3>Контакти</h3>
        <p>Адреса: м. Київ, вул. Прикладна 10</p>
        <p>Телефон: +380 44 123 45 67</p>
        <p>Email: info@example.com</p>
      </div>

      <div class="social">
        <a href="#" aria-label="Facebook">
          <i class="pi pi-facebook"></i>
        </a>
        <a href="#" aria-label="Instagram">
          <i class="pi pi-instagram"></i>
        </a>
        <a href="#" aria-label="YouTube">
          <i class="pi pi-youtube"></i>
        </a>
      </div>
    </div>

    <!-- 3 колонка -->
    <div class="footer-col">
      <p class="copyright">
        © 2025 Всі права захищені. Використання матеріалів дозволено тільки з посиланням на джерело.
      </p>
    </div>

  </div>
</footer>


<!--<footer class="footer">
    <div class="container">
        <div class="footer-container">
            <p>Шановні відвідувачі і користувачі сайту!</p>
        <p>Використання будь-яких матеріалів, що опубліковані на цьому сайті, дозволяється при умові посилання (для інтернет-видань - гіперпосилання) на офіційний сайт </p>
        </div>
    </div>    
</footer> -->


<!--<footer>
    <div class="footer-top-container">
        <div class="left-side">
            <ul>
                <li><a href="#">Privaci</a></li>
                <li><a href="#">Умови</a></li>
                <li><a href="#">Різне</a></li>
                <li><a href="#">Conatact As</a></li>
            </ul>
        </div>
        <div class="right-side">
            <ul>
                <li><a href="#" >Download</a></li>
            </ul>
            <button class="btn">Visit App Store</button>
        </div>
    </div>
    <div class="line">

    </div>
    <div class="footer-bottom-container">
        <div class="copyright">
            <img src="" alt="">
            <p>2025 C5</p>
        </div>
        <div class="social-media-icons">
            <img src="../../../assets/images/icons8-facebook-96.png" alt="Facebook">
            <img src="../../../assets/images/icons8-youtube-96.png" alt="Youtube">
            <img src="../../../assets/images/icons8-twitter-96.png" alt="Twitter">
        </div>
    </div>
</footer> -->