@font-face {
  font-family: 'e-Ukraine-Bold';
  src: url(./e-Ukraine-Bold.woff) format('woff');
}
@font-face {
  font-family: 'e-Ukraine-Regular';
  src: url(./e-Ukraine-Regular.woff) format('woff');
}
@font-face {
  font-family: 'e-Ukraine-Medium';
  src: url(./e-Ukraine-Medium.woff) format('woff');
}
@font-face {
  font-family: 'e-Ukraine-Light';
  src: url(./e-Ukraine-Light.woff) format('woff');
}
@font-face {
  font-family: 'e-Ukraine-UltraLight';
  src: url(./e-Ukraine-UltraLight.woff) format('woff');
}
@font-face {
  font-family: 'e-Ukraine-Thin';
  src: url(./e-Ukraine-Thin.woff) format('woff');
}


@font-face {
  font-family: 'e-UkraineHead-Light';
  src: url(./e-UkraineHead-Light.woff) format('woff');
}
@font-face {
  font-family: 'e-UkraineHead-Medium';
  src: url(./e-UkraineHead-Medium.woff) format('woff');
}
@font-face {
  font-family: 'e-UkraineHead-LOGO';
  src: url(./e-UkraineHead-LOGO.woff) format('woff');
}
@font-face {
  font-family: 'e-UkraineHead-Bold';
  src: url(./e-UkraineHead-Bold.woff) format('woff');
}
@font-face {
  font-family: 'e-UkraineHead-Light';
  src: url(./e-UkraineHead-Light.woff) format('woff');
}
@font-face {
  font-family: 'e-UkraineHead-Medium';
  src: url(./e-UkraineHead-Medium.woff) format('woff');
}
@font-face {
  font-family: 'e-UkraineHead-Thin';
  src: url(./e-UkraineHead-Thin.woff) format('woff');
}
@font-face {
  font-family: 'e-UkraineHead-Regular';
  src: url(./e-UkraineHead-Regular.woff) format('woff');
}
@font-face {
  font-family: 'e-UkraineHead-UltraLight';
  src: url(./e-UkraineHead-UltraLight.woff) format('woff');
}
