<header class="header">
    <div class="container">
        <div class='header-container'>
            <!--<a href="index.html">
                <img class='img-gerb pl-3 pt-2' src="../../assets/images/gerb_koruk.png">
            </a>-->
            <a href="/" name="Логотип" title="Логотип" class="main-logo header-col1">
                <div class="icon">      
                </div>
                <div class="main-logo-text">
                    <p>gov.ua</p>
                    <p class="light">Державні сайти України</p>
                </div>
            </a> 
            <div class='text-logo flex flex-column justify-content-center'>
                <!--<div class="gerb-ua">
                    <img src="../../assets/images/gerb-ua.svg" alt="Герб України Корюківська РДА">
                </div> -->
                <div class="gerb-ua">
                    <a href = "/"><img src="../../assets/images/gerb-ua.svg" alt="Герб України Корюківська РДА"></a>
                </div>
                <div class="text-logo-1">{{name}}</div>
                <div class="text-logo-2">Чернгівської області</div>
            </div> 
            <div class="header-eye flex flex-column justify-content-center">
                <a href="https://koradm.cg.gov.ua/blind/"  target="_blank" class="text-xm p-1 ">
                    <i class="pi pi-eye pr-2"></i>Людям із порушенням зору
                </a> 
                <a href="/search" class="text-xm p-1 ">
                    <i class="pi pi-search pr-2"></i>Пошук
                </a>            
            </div>    
        </div>    
    </div>    
</header>
