.news-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.news-meta {
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
} 