
  

<div *ngIf="user_template == 0" class="news-list">
  <div class="main-section-title">
    <div class="flex justify-content-center align-items-center gap-2">
      <a [routerLink]="Menu.routerLink" [queryParams]="Menu.queryParams">
        <img *ngIf="Menu.show_icon && Menu.icon != null"  [src]="Menu.icon" class="menu-icon">
        <h2 *ngIf="Menu.show_name" class='main-header-title'>        
          {{Menu.name}}
        </h2>    
      </a>      
    </div>        
  </div> 
  <article *ngFor="let item of listNews;" class="news-card" role="article" aria-labelledby="title-">
    <p-card>
      <ng-template pTemplate="header">
        <h3 id="title-{{item.id}}" class="news-title">{{ item.title }}</h3>
        <img *ngIf="item.photo_src != null"  [src]="item.photo_src" [alt]="item.photo_alt" [title]="item.photo_title" class="news-image" />
      </ng-template>

      <div class="news-body">
        <h3 id="title-{{item.id}}" class="news-title" [innerHTML]="item.head"></h3>
        <p class="news-short" [innerHTML]="item.text"></p>
        <div class="news-meta">
          <small>{{ item.date | date:'dd.MM.yyyy' }}</small>
          <button pButton type="button" label="Читати" icon="pi pi-eye" class="p-button-text" (click) = "set_page(item.id)"></button>
        </div>
      </div>
    </p-card>
  </article>
</div> 


<section  *ngIf="user_template > 0" class="main-news">
    <div class="main-new-section">
        
        <div class="main-section-title">
            <h2 class='main-title-text'><a [routerLink]="Menu.routerLink" [queryParams]="Menu.queryParams">{{ Menu.name }}</a></h2>
        </div> 
        
        <div class="main-news-container block">
            <!--<div class="item_grid item-news-list border-round-2xl surface-0 surface-hover" *ngFor="let itemNews of listNews;" (click) = "set_page(itemNews.id)">
                <div class="p-3 align-items-center text-blue-500 "  [innerHTML]="itemNews.title"></div>
                <div class="gray-900 text-xs date-news">{{itemNews.date | date: 'dd/MM/yyyy'}}</div>
                <div *ngIf="itemNews.photo != null"  class="item-news-list-img">           
                <img src="{{itemNews.photo}}" class="image_title_news" alt="Image" >
                </div>
                <div class="gray-900 text-xs date-news" [innerHTML]="itemNews.text"></div>
                <div class="pb-3 pl-3 pr-3 align-items-center text-blue-500"> <span [innerHTML]="itemNews.head"></span></div>        
            </div>   -->
            <div class="main-news-article" *ngFor="let itemNews of listNews;" (click) = "set_page(itemNews.id)">
                <article>
                    <div class="article-title"  [innerHTML]="itemNews.title"></div>
                    <div class="article-head"  [innerHTML]="itemNews.head"></div>
                    <div *ngIf="itemNews.photo_src != null"  class="item-news-list-img">
                        <img src="{{itemNews.photo_src}}" class="image_title_news" alt="{{itemNews.photo_alt}}" title="{{itemNews.photo_title}}">
                    </div>               
                    
                    <div class="article-text" [innerHTML]="itemNews.text"></div>
                    <div class="article-date" [innerHTML]="itemNews.date | date: 'dd/MM/yyyy'"></div>
                </article>            
            </div>        
        </div> 
    </div>   
</section>
