<app-breadcrumb></app-breadcrumb>
<div class="p-3">
    <div class="m-4 " *ngIf="page.text.trim().length>1">
        <p-button *ngIf="tp!=1" label="Повернутись" (click) = "backHistory()" ></p-button>
    </div>
    <app-chips></app-chips>
    <div class="page p-3 w-full">
        <span [innerHTML]="page.date | date:'HH:mm '"> </span>    
        <span [innerHTML]="page.head"> </span>
        <span class="page-text" [innerHTML]="page.text | sanitizedHtml"> </span>
        <span [innerHTML]="page.title"> </span>    
    </div>
    <div class="m-4 " *ngIf="page.text.trim().length>1">
        <p-button *ngIf="tp!=1" label="Повернутись" (click) = "backHistory()" ></p-button>
    </div>
</div>
