<p-tree [value]="data" 
          selectionMode="single">
</p-tree> 

<!--<p-tree [value]="data" 
          selectionMode="single"
          [contextMenu]="toolsMenuId" 
          (onNodeSelect)="handleClick($event)" 
          (onNodeExpand)="nodeExpand($event)"
          (onNodeCollapse)="nodeCollapse($event)" 
          [draggableNodes]="true"  
          [droppableNodes]="true"  
          draggableScope="self" 
          droppableScope="self"
          (onNodeDrop)="onDrop($event)"
          [filter]="true" 
          filterPlaceholder="Назва пункту меню" 
          (onNodeContextMenuSelect) = "onNodeContextMenuSelect($event)" > 
</p-tree>-->