<p-galleria 
    [value]="images"
    [showIndicators]="true" 
    [showThumbnails]="false" 
    [containerStyle]="{ 'max-width': '640px' }">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.src" style="width: 100%; display: block;" />
        
    </ng-template>
    <ng-template pTemplate="caption" let-item>
        <h4 style="margin-bottom: .5rem; color: #ffffff;">
            {{ item.title }}
        </h4>
        <p>{{ item.alt }}</p>
    </ng-template>
</p-galleria>

<p-paginator (onPageChange)="onPageChange($event)" 
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[12, 24, 36]">
</p-paginator>
