<p-card *ngIf="user_template == 0" header="Анонси">
  <ul class="anons-list">
    <li *ngFor="let a of listdocs" class="anons-item" (click)="set_page(a.id)">
      <span [innerHTML]="a.text"></span>
      <span>{{ a.date | date:'dd.MM.yyyy' }}</span>
    </li>
  </ul>
</p-card>

<section *ngIf="user_template >0 " class="main-section-anons">
    <div class="main-section-title">
        <h2 class='main-title-text'><a [routerLink]="Menu.routerLink" [queryParams]="Menu.queryParams">{{ Menu.name }}</a></h2>
    </div> 
    <div *ngFor="let item of listdocs;">
        <div class="m-2 p-2  surface-0 surface-hover">
            <div class="gray-900 text-xs date-news">{{item.date | date: 'dd/MM/yyyy'}}</div>
            <a [routerLink]="routerLink" [queryParams]='{"id":item.id}' [innerHTML]="item.text"></a>  
        </div>    
    </div>  
</section>