<app-breadcrumb></app-breadcrumb>   
<div class="main-header bg-green-100">
    <h2 class='main-header-title'>{{NameMenu}}</h2>    
</div>

<div class="main-news-container  p-3">
    <div class="item_grid item-news-list border-round-2xl  surface-0 surface-hover" *ngFor="let itemNews of listNews;" (click) = "set_page(itemNews.id)">
        <div class="p-3 align-items-center text-blue-500">{{itemNews.title}}</div>
        <div class="gray-900 text-xs date-news">{{itemNews.date}}</div>
        <div *ngIf="itemNews.photo != null"  class="item-news-list-img">           
           <img src="{{itemNews.photo}}" class="image_title_news" alt="Image" >
        </div>
        <div class="pb-3 pl-3 pr-3 align-items-center text-blue-500"> <span [innerHTML]="itemNews.head"></span></div>        
    </div>   
</div>



<p-paginator (onPageChange)="onPageChange($event)" 
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[12, 24, 36]">
</p-paginator>
