<div class="card search-box">
  <form [formGroup]="form" (ngSubmit)="onSearch()">

    <div class="search-grid">

      <!-- Дата от -->
      <div class="search-field">
        <p-calendar
          formControlName="dateFrom"
          dateFormat="dd.mm.yy"
          [showIcon]="true"
          placeholder="Дата от"
          inputStyleClass="w-full"
          class="w-full"
        ></p-calendar>
      </div>

      <!-- Дата до -->
      <div class="search-field">
        <p-calendar
          formControlName="dateTo"
          dateFormat="dd.mm.yy"
          [showIcon]="true"
          placeholder="Дата до"
          inputStyleClass="w-full"
          class="w-full"
        ></p-calendar>
      </div>
      
      <!-- Поле поиска -->
      <div class="search-field search-field-wide">
        <div class="p-inputgroup w-full">
          <input pInputText formControlName="query" placeholder="Введите текст" class="w-full">
          <button pButton type="submit" label="Поиск" icon="pi pi-search" class="btn-wide"></button>
        </div>
      </div>

    </div>
  </form>
</div>

<div class="spinner-wrapper" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>


<p-table
  *ngIf="!loading && total!=0"
  [value]="results"
  [lazy]="true"
  [paginator]="true"
  [rows]="limit"
  [totalRecords]="total"
  [responsiveLayout]="'scroll'"
  class="search-result-table"
>

  <ng-template pTemplate="body" let-row>
    <div class="result-block">

      <!-- Дата + тип -->
      <div class="result-meta">
        <span class="result-date">{{ row.date | date:'dd.MM.yyyy HH:mm' }}</span>
        <span class="result-type">{{ row.name_menu }}</span> 
      </div>

      <!-- Фрагмент -->
      <!--<div class="result-text" [innerHTML]="row.text | highlight: lastQuery"></div>-->
      <div class="result-text" [innerHTML]="row.text" (click)="openDetails(row)"></div>
      

    </div>
  </ng-template>

</p-table>