
<div *ngIf="user_template == 0" class="header-wrapper">

  <!-- Показывать только на desktop -->
  <div class="grid header-grid">

    <!-- Левая большая колонка -->
    <div class="col-12 lg:col-8 md:col-12 header-left">
      <app-carousel *ngIf="top_slider>0" [id]="top_slider"></app-carousel>
    </div>

    <!-- Правая колонка с баннером -->
    <div class="col-12 lg:col-4 md:col-0 header-right">
      <a href="https://kmu.gov.ua" target="_blank" class="banner-link">
        <img
          src="https://www.kmu.gov.ua/themes/kmu/assets/images/header/print_top_ukr.jpg"
          alt="Government Banner"
          class="banner-img"
        />
      </a>
    </div>

  </div>

</div>




<div *ngIf="user_template == 0" class="container">
    <div class="col col-12">
        <app-main-news *ngIf="id_last_news>0" [id]="id_last_news" [rows]="rows_last_news" [_col]="1"></app-main-news>
    </div>
    <div class="col col-12">
        <app-main-news *ngIf="id_last_news>0" [id]="id_last_news" [rows]="rows_last_news" [_col]="2"></app-main-news>
    </div>

    <aside class="col col-12">
        <app-last-anons *ngIf="id_last_anons!=0" [id]="id_last_anons" [rows]="rows_last_anons"></app-last-anons>            
        <!--<app-last-docs *ngIf="id_last_docs>0" [id]="id_last_docs" [rows]="rows_last_docs"></app-last-docs>   -->
        <!-- <app-last-docs *ngIf="id_last_news>0" [id]="id_last_newsdocs" [rows]="rows_last_news"></app-last-docs>   -->
    </aside>
</div>

<div class="main-container">       
    <app-main-videos *ngIf="id_main_video>0" [id]="id_main_video"></app-main-videos>            
</div>
<div class="main-container">       
    <app-main-photos *ngIf="id_main_photos>0" [id]="id_main_photos"></app-main-photos>          
</div>

<section *ngIf="user_template == 1" class="main-section">
    <div class="main-container flex">
        <section class="last_news">
            
           <app-carousel *ngIf="top_slider>0" [id]="top_slider"></app-carousel>
            
            <app-main-news *ngIf="id_last_news>0" [id]="id_last_news" [rows]="rows_last_news"></app-main-news>
        </section>                       
        <aside class="main-asaid">           
                <app-last-anons *ngIf="id_last_anons!=0" [id]="id_last_anons" [rows]="rows_last_anons"></app-last-anons>            
                <app-last-docs *ngIf="id_last_docs>0" [id]="id_last_docs" [rows]="rows_last_docs"></app-last-docs>            
        </aside>                    
    </div>        
    <!--<div class="main-container">
        <app-main-search *ngIf="id_main_docs>0" [id]="id_main_docs" ></app-main-search>
    </div> -->
    <!--<div class="main-container">       
        <app-main-photos *ngIf="id_main_photogallery>0" [id]="id_main_photogallery"></app-main-photos>          
    </div>-->
    <div class="main-container">       
        <app-main-galleria *ngIf="id_main_photogallery>0" [id]="id_main_photogallery"></app-main-galleria>          
    </div>
    <div class="main-container">       
        <app-main-videos *ngIf="id_main_video>0" [id]="id_main_video"></app-main-videos>            
    </div>
    <!-- <div class="main-container">
        <app-main-media *ngIf="id_main_photogallery>0" [id]="id_main_photogallery"></app-main-media>         
    </div> -->
</section>

<section *ngIf="user_template == 2" class="main-section">
    <div class="main-container flex">
        <section class="last_news">
            <app-main-news *ngIf="id_last_news>0" [id]="id_last_news" [rows]="rows_last_news"></app-main-news>
        </section>                       
        <aside class="main-asaid">           
                <app-last-anons *ngIf="id_last_anons!=0" [id]="id_last_anons" [rows]="rows_last_anons"></app-last-anons>            
                <app-last-docs *ngIf="id_last_docs>0" [id]="id_last_docs" [rows]="rows_last_docs"></app-last-docs>            
        </aside>                    
    </div>        
    <!--<div class="main-container">
        <app-main-search *ngIf="id_main_docs>0" [id]="id_main_docs" ></app-main-search>
    </div> -->
    <div class="main-container">       
        <app-main-photos *ngIf="id_main_photogallery>0" [id]="id_main_photogallery"></app-main-photos>          
    </div>
    <div class="main-container">       
        <app-main-videos *ngIf="id_main_video>0" [id]="id_main_video"></app-main-videos>            
    </div>
    <!-- <div class="main-container">
        <app-main-media *ngIf="id_main_photogallery>0" [id]="id_main_photogallery"></app-main-media>         
    </div> -->
</section>






